* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Raleway", "sans-serif";
}

:root {
  --stopwatch-primary-color: #6a041d;
  --stopwatch-primary-shade: #b10631;
  --stopwatch-secondary-color: #53ff45;
  --stopwatch-secondary-shade: #8fff85;
  --stopwatch-light-color: #f5b841;
  --body-background-color: #f4ff52;
}

@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}

button {
  all: unset;
  cursor: pointer;
  border: 3px solid var(--stopwatch-light-color);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--stopwatch-secondary-color);
}

button.secondary-button {
  background-color: var(--stopwatch-primary-color);
  color: var(--stopwatch-secondary-color);
}

button:hover {
  background-color: var(--stopwatch-secondary-shade);
}

button.secondary-button:hover {
  background-color: var(--stopwatch-primary-shade);
}

button:focus {
  border: 2px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--body-background-color);
  font-size: 3rem;
}

#stopwatch-wrapper {
  background-color: var(--stopwatch-primary-color);
  padding: 1rem;
  border-radius: 10px;
}

.button-box {
  margin: 1rem 0 0.5rem 0;
}

#stopwatch-display {
  font-family: "Major Mono Display", "Orbitron", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  padding: 1rem 0;
  border-radius: 10px;
}
